<a href="https://colab.research.google.com/github/kuriapeter/data-science/blob/main/lesson_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/Pinchez') #Create a virtual drive

Mounted at /content/Pinchez

In [ ]:
import pandas as pd
george=pd.read_csv('/content/Pinchez/MyDrive/Colab Notebooks/Pinchez/Pinche.csv')
#george.head(5)
print(george)

   StudentID    Age  Gender  TestScore PassedExam
0           1  18.0    Male       85.0        Yes
1           2  19.0  Female       92.0        Yes
2           3  20.0    Male       78.0         No
3           4  19.0  Female        NaN        Yes
4           5  20.0    Male       76.0         No
5           6  18.0    Male       90.0        Yes
6           7  19.0  Female       82.0        Yes
7           8   NaN  Female       68.0         No
8           9  18.0    Male       79.0         No
9          10  19.0    Male       94.0        Yes

In [ ]:
import pandas as pd
wainaina=pd.read_csv('/content/Pinchez/MyDrive/Colab Notebooks/Pinchez/Pinchez.csv')
#wainaina.head(15)
print(wainaina)

   StudentID   Age  Gender  TestScore PassedExam
0           1   18    Male         85        Yes
1           2   19  Female         92        Yes
2           3   20    Male         78         No
3           4   19  Female         88        Yes
4           5   20    Male         76         No
5           6   18    Male         90        Yes
6           7   19  Female         82        Yes
7           8   20  Female         68         No
8           9   18    Male         79         No
9          10   19    Male         94        Yes

In [ ]:
import pandas as pd
wainaina=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pinchez/Pinchez.csv')
duplicate_rows = wainaina[wainaina.duplicated()]
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
Empty DataFrame
Columns: [StudentID , Age, Gender, TestScore, PassedExam]
Index: []

In [ ]:
import pandas as pd
wainaina=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pinchez/Pinchez.csv')
Duplicate = wainaina[wainaina['Age'].duplicated()]
print("Duplicate:")
print(Duplicate)

Duplicate:
   StudentID   Age  Gender  TestScore PassedExam
3           4   19  Female         88        Yes
4           5   20    Male         76         No
5           6   18    Male         90        Yes
6           7   19  Female         82        Yes
7           8   20  Female         68         No
8           9   18    Male         79         No
9          10   19    Male         94        Yes

In [ ]:
import pandas as pd
wainaina=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pinchez/Pinchez.csv')
Duplicate = wainaina[wainaina['Age'].duplicated()]
print("\nUnique Values in 'Age' Column:")
print(wainaina['Age'].value_counts())

Unique Values in 'Age' Column:
Age
19    4
18    3
20    3
Name: count, dtype: int64

In [ ]:
import pandas as pd
wainaina=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pinchez/Pinchez.csv')
StudentID = wainaina['StudentID '].duplicated(keep=False).value_counts()
print("StudentID:")
print(StudentID)

StudentID:
StudentID
False    10
Name: count, dtype: int64

In [ ]:
import pandas as pd
wainaina=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pinchez/Pinche.csv')
zu = wainaina.isnull().sum()
# Display the null value counts for each column
print("Null Values in the DataSet:")
print(zu)

Null Values in the DataSet:
StudentID     0
Age           1
Gender        0
TestScore     1
PassedExam    0
dtype: int64

In [ ]:
import pandas as pd
wainaina=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pinchez/Pinche.csv')
#wainaina.head(15)
print(wainaina)

   StudentID    Age  Gender  TestScore PassedExam
0           1  18.0    Male       85.0        Yes
1           2  19.0  Female       92.0        Yes
2           3  20.0    Male       78.0         No
3           4  19.0  Female        NaN        Yes
4           5  20.0    Male       76.0         No
5           6  18.0    Male       90.0        Yes
6           7  19.0  Female       82.0        Yes
7           8   NaN  Female       68.0         No
8           9  18.0    Male       79.0         No
9          10  19.0    Male       94.0        Yes

In [ ]:
import pandas as pd
wainaina=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Pinchez/Pinche.csv')
wainaina.head(10)
FilledData = wainaina.fillna(0)
print("DataSet with Missing Values Replaced:")
print(FilledData)

# Save the modified DataFrame back to the CSV file
wainaina.to_csv('/content/wainaina2.csv', index=False)

DataSet with Missing Values Replaced:
   StudentID    Age  Gender  TestScore PassedExam
0           1  18.0    Male       85.0        Yes
1           2  19.0  Female       92.0        Yes
2           3  20.0    Male       78.0         No
3           4  19.0  Female        0.0        Yes
4           5  20.0    Male       76.0         No
5           6  18.0    Male       90.0        Yes
6           7  19.0  Female       82.0        Yes
7           8   0.0  Female       68.0         No
8           9  18.0    Male       79.0         No
9          10  19.0    Male       94.0        Yes